<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>LOGIN</title>

<body class="fondo">

    <%- include('./partials/header.ejs')%>


    <!--INICIAR SESION-->
    <div class="container-fluid">

        <% if (typeof errors != 'undefined') { %>
        <p style="color: red;">ERROR</p>
        <ul>
            <% for( let i = 0; i < errors.length; i++ ) { %>
            <li>
                <%= errors[i].msg %>
            </li>
            <% } %>
        
        </ul>
        <% } %>


        <form action="/user/" method="post">
            <div class="inicio-sesion row">
            
                <div class="formulario-body col-sm-8 col-md-6 col-lg-4 mx-auto">
            
                    <div class="titulo text-center">
                        <p>INICIAR SESION</p>
                    </div>
            
                    <div class="formulario-email">
            
                        
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Ingresa tu correo electronico"
                             autofocus required> 
                        <br>
                    </div>
                    <div class="formulario-contraseña">
            
                        
                        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"  autofocus required>
            
                    </div>
            
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="recordame" name="recordame">
                        <label class="custom-control-label" for="recordame">Recordar Contraseña</label>
                    </div>
            
                    <div class="olvidarse text-center"> <a href="">¿Olvidaste tu contraseña?</a>
            
                    </div>
            
                    <div>
                        <button class="boton-ingresar text-center" type="submit"> INGRESAR </button></div>
            
                    <div class="otras-cuentas">
            
                        <div class="o text-center">
                            <p>ó</p>
                        </div>
            
                        <div> <button class="boton-google text-center" type="submit"><i class="fab fa-google mr-2"></i>Ingresar con
                                <ion-icon name="logo-google"></ion-icon>
                            </button></div>
            
                        <div> <button class="boton-facebook text-center" type="submit"><i class="fab fa-facebook-f mr-2"></i>
                                Ingresar
                                con <ion-icon name="logo-facebook">
                                </ion-icon></button></div>
                    </div>
            
                    <div class="registrarse text-center"> <a href="../user/register">¿No tenes una cuenta? Haz click aquí</a></div>
                </div>
            
            </div>
        </form>
        

    </div>

    <!--footer-->

    <%- include('./partials/footer.ejs')%>


    </div>
    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>
</body>

</html>