<html lang="en">

<%- include('./partials/head.ejs')%>
<title>DETALLE DE PRODUCTO</title>

<body class="fondo">
    <!--agregue color de fondo-->

    <!--barra de navegacion-->
    <%- include('./partials/header.ejs')%>

    <!--PRINCIPAL-->

    <div class="container cuadroProducto">

        <div class="row">

            <!--imagen producto-->
            <div class="col-md-6 d-flex justify-content-center mt-4">
                <img src="/images/product/<%= producto.foto %>" class="zoom zoom:hover" style=" height: 50%;
                        border-radius: 10%; margin-top: 5%;">
            </div>
            <!--especificaciones-->
            <div class="col-md-6 order-md-2 detalle-producto">
                <h1 data-id=" <%= producto.id %> " class="mb-2"
                    style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 700; color: darkslategray;">
                    <%= producto.nombre  %> </h1>
                <div class="precios-productos">
                    <% if (producto.cuotas >= 1 ){ %>
                    <h6 class="subtitulo mb-0"> <%= producto.cuotas %> cuotas de</h6>
                    <h3 class="precio mb-2"> <%=(producto.precio / producto.cuotas).toFixed(2) %></h3>
                    <h6 class="subtitulo mb-4">1 Pago de <%= producto.precio %></h6>
                    <% }  else {%>
                    <h6 class="subtitulo mb-4">1 Pago de </h6>
                    <h3 class="precio mb-2"><%= producto.precio %></h3>
                    <% } %>
                </div>
                <!--Breve Desc Tecn-->
                <div class="row">
                    <div class="col-ms-12">
                        <p class="caja-descripcion">
                            <%= producto.descripcion  %>
                        </p>
                    </div>
                </div>

                <!--cantidad y Rese침a-->
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cantidad">Cantidad</label>
                        <select class="custom-select d-block w-100" id="cantidad">
                            <option value="">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="rese침a">Puntuaci칩n</label>

                        <div class="d-flex flex-row justify-content-center">
                            <i class="p-2">
                                <ion-icon name="star"></ion-icon>
                            </i>
                            <i class="p-2">
                                <ion-icon name="star"></ion-icon>
                            </i>
                            <i class="p-2">
                                <ion-icon name="star-outline"></ion-icon>
                            </i>
                        </div>
                    </div>
                </div>
                <!--linea separacion-->
                <hr class="mb-4">
                <!--Boton-->
                <button class="btn-carga btn-sm btn-block agregar-carrito" type="submit">A침adir al Carrito</button>
            </div>
            <!--cierra el primer row, lleva la descripcion del producto-->

        </div>
    </div>
    <!--cierra container-->

    <%- include('./partials/footer.ejs')%>
    <%- include('./partials/comunicacion.ejs')%>
    <!--ScripDeBoostrapt-->

    <%- include('./partials/scripts.ejs')%>

    <script src="/js/carrito.js"></script>
    <script src="/js/compra.js"></script>
</body>

</html>