<html lang="en">

<%- include('./partials/head.ejs')%>
<title>PRODUCT EDIT</title>
<body class="fondo">

  <!--barra de navegacion-->
  <%- include('./partials/header.ejs')%>

  <!--PRINCIPAL-->
  <main class="main">
    <div class="container cuadroProducto">
      <div class="row">

        <!--carga imagen-->
        <div class="col-md-6 order-md-1 mb-4">

            <img src="/images/product/<%=productoAEditar.imagen%>" class="imgProducto" alt="...">

        </div>

        <!--formulario de modificacion-->
        <div class="col-md-6 order-md-2">
          <h4 class="mb-3">Usted va a Modificar el Producto</h4>
          <h6 style="color: red; font-size: xx-large;"><%=productoAEditar.nombre%></h6>
          <form action="/product/edit/<%=productoAEditar.id%>?_method=PUT" method="POST">
            
            <!--Precio-Cuotas-Stock-->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio">
                <div class="invalid-feedback">
                  Ingresar el precio total.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cuotas">Cuotas</label>
                <select class="custom-select d-block w-100" id="cuotas" name="cuotas">
                  <option>Elegir</option>
                  <option>Sin Cuotas</option>
                  <option>1</option>
                  <option>3</option>
                  <option>6</option>
                  <option>12</option>
                  <option>18</option>
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar 1 opción.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="stock">Stock</label>
                <select class="custom-select d-block w-100" id="stock" name="stock">
                  <option value="">Elegir</option>
                  <option>sin stock</option>
                  <option>10</option>
                  <option>50</option>
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar 1 opción.
                </div>
              </div>
              <br />
              <div class="col-md-3 mb-3">
                <label for="color">color</label>
                <select class="custom-select d-block w-100" id="color" name="color">
                  <option value="">Elegir</option>
                  <option>Blanco</option>
                  <option>Negro</option>
                  <option>Otro</option>
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar 1 opción.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="categoria">categoria</label>
                <select class="custom-select d-block w-100" id="categoria" name="categoria">
                  <option value="">Elegir</option>
                  <option>Oferta</option>
                  <option>Destacado</option>
                  <option>Nuevo</option>
                  <option>Baja</option>
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar 1 opción.
                </div>
              </div>
            </div>
            <label for="descripcion">Descripción del Producto</label>
            <textarea class="form-control" id="descripcion" name="descripcion"  rows="3"></textarea>
            <!--linea separacion-->
            <hr class="mb-4">
            
            <input type="file" id="avatar" name="avatar" accept="image/x-png,image/gif,image/jpeg" />
            <br>
            <!--Boton-->
            <br>
            <button class="btn-carga btn-sm btn-block" type="submit">Guardar y Publicar</button>
            
          </form>
          <form action="/product/edit/<%=productoAEditar.id%>?_method=DELETE" method="POST">
            <button class="btn-carga btn-sm btn-block btn btn-danger" type="submit">ELIMINAR PRODUCTO</button>
          </form>
            
          
        </div>
      </div>
    </div>
  </main>

  <!--footer-->

  <%- include('./partials/footer.ejs')%>



  <%- include('./partials/scripts.ejs')%>
</body>

</html>