<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>CARRITO</title>
<body class="fondo">

    <!--barra de navegacion-->
    <%- include('./partials/header.ejs')%>

    <!--PRINCIPAL-->

    <div class="container">
        <main class="main mt-4">
            
                <div>
                    <h5 style="text-align: center;" >Carro de compras</h5>
                </div>
                <hr>
                <h6>Resumen</h6>
                <% if (usuario != null) { %>
                    <h6><%= usuario.email %> </h6>
                <% } %>
                <hr>
                <div class="row">
                    <div class="d-none d-sm-inline col-md-4 text-center">
                        <b>
                            <p>Imagen</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-3">
                        <b>
                            <p>Descripcion</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Cantidad</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Precio</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-1">
                        <b>
                            <p>Quitar</p>
                        </b>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">

                    <div class="col-12 col-md-4">

                        <figure class="figure">
                            <img src="/images/cart/celular.jpeg" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <p>Celular nokia 1100</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2">
                        <p>$ 10.000</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <span><ion-icon name="trash-outline"></ion-icon></span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="d-none d-sm-inline col-md-4 text-center">
                        <b>
                            <p>Imagen</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-3">
                        <b>
                            <p>Descripcion</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Cantidad</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Precio</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-1">
                        <b>
                            <p>Quitar</p>
                        </b>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">

                    <div class="col-12 col-md-4">

                        <figure class="figure">
                            <img src="/images/cart/celular.jpeg" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <p>Celular Motorola g7 plus</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2">
                        <p> $ 10.000</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <span><ion-icon name="trash-outline"></ion-icon></span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <b><p style="text-align: end;">TOTAL</p></b>
                    </div>
                    <div class="col-6 col-md-6">
                        <b>
                            <p style="text-align: center;">$ 20.000</p>
                        </b>
                    </div>

                </div>
                <div class="mb-4">
                    <button type="button" class="btn btn-secondary">Volver</button>
                    <button type="button" class="btn btn-primary btn-lg float-right">Siguiente</button>
                </div>


            


        </main>
    </div>

    
    <%- include('./partials/footer.ejs')%>


    <%- include('./partials/scripts.ejs')%>
</body>

</html>