<html lang="en">

<%- include('./partials/head.ejs')%>

<body class="fondo"> <!--agregue color de fondo-->

    <!--barra de navegacion-->
    <%- include('./partials/header.ejs')%>
    
    <!--PRINCIPAL-->
    <main class="main">
        <div class="container cuadroProducto">
            <div class="row">
                <!--imagen producto-->
                <div class="col-md-6 order-md-1 mb-4 d-flex justify-content-center" >
                    <img src="/images/product/<%= productoAMostrar.image %>" style="height: 74%;" alt="...">
                </div>
                <!--especificaciones-->
                <div class="col-md-6 order-md-2">
                    <h4 class="mb-2"><%= productoAMostrar.nombre  %> </h4>
                    <h6 class="subtitulo mb-0">18 ctas de</h6>
                    <h3 class="precio mb-2"><%= productoAMostrar.precio  %></h3>
                    <h6 class="subtitulo mb-4">1 Pago de <%= productoAMostrar.precio  %></h6>
                    <!--Breve Desc Tecn-->
                <div class="row">
                    <div class="col-ms-12">
                        <p class="caja-descripcion">
                            <%= productoAMostrar.descripcion  %>
                        </p>
                    </div> 
                </div>      
                
                <!--cantidad y Rese침a-->
                <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cantidad">Cantidad</label>
                    <select class="custom-select d-block w-100" id="cantidad" >
                      <option value="">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="rese침a">Puntuaci칩n</label>
                
                <div class="d-flex flex-row justify-content-center">
                    <i class="p-2">
                        <ion-icon name="star"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="star"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="star-outline"></ion-icon>
                    </i>
                </div>
                </div>
                </div>
                <!--linea separacion-->
                <hr class="mb-4">
                <!--Boton-->
                <button class="btn-carga btn-sm btn-block" type="submit">A침adir al Carrito</button>
                </div><!--cierra el primer row, lleva la descripcion del producto-->
             
            </div>
            </div> <!--cierra container-->

    
     </main>  
    

     <%- include('./partials/footer.ejs')%>
    
    <!--ScripDeBoostrapt-->
<%- include('./partials/scripts.ejs')%>
</body>

</html>