<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>REGISTRARSE</title>
<body class="fondo">

    <%- include('./partials/header.ejs')%>


    <!--INICIAR SESION-->
    <% if (typeof errors != 'undefined') { %>
     <p style="color: red;">ERROR</p>
     <ul>
         <% for( let i = 0; i < errors.length; i++ ) { %>
            <li>
                <%= errors[i].msg %> 
            </li>
         <% } %>
         
     </ul>
    <% } %>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="inicio-sesion row">

                <div class="formulario-body col-sm-8 col-md-6 col-lg-4 mx-auto">

                    <form action="" method="POST">

                        <div class="titulo text-center">
                            <p>REGISTARSE</p>
                        </div>

                        <div class="formulario-email">


                            <input type="text" name="nombre" id="nombre" class="form-control"
                                placeholder="Ingresa tu nombre" required>
                            <br>

                            <input type="text" name="apellido" id="apellido" class="form-control"
                                placeholder="Ingresa tu apellido" required>
                            <br>

                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Ingresa tu correo electronico" required>
                            <br>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Contraseña" required>
                            <br>
                            <input type="password" id="repassword" name="repassword" class="form-control"
                                placeholder="Contraseña" required>
                            <br>
                            <input type="file" id="avatar" name="avatar" accept="image/x-png,image/gif,image/jpeg" />
                            <br />
                        </div>

                        <div>
                            <button class="boton-ingresar text-center" type="submit">
                                REGISTAR
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </form>


    <!--footer-->

    <%- include('./partials/footer.ejs')%>


    </div>
    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>
</body>

</html>