<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>Crea Tu Cuenta - Registrate</title>
<body class="fondo">

    <%- include('./partials/header.ejs')%>


    <!--INICIAR SESION-->
    
    <form action="" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="inicio-sesion row">

                <div class="formulario-body col-sm-8 col-md-6 col-lg-4 mx-auto">

                    <form action="" method="POST" id="formRegistro">

                        <div class="titulo text-center">
                            <p>Crea Tu Cuenta</p>
                            <h6 style="font-size: smaller; font-weight: 200; text-align: center;">Por favor, complete
                                todo los campos</h6>
                        </div>
                        <div class="formulario-email">


                            <input type="text" name="nombre" id="nombre" class="form-control"
                                placeholder="Ingresa tu nombre"  focus>
                            <br>

                            <input type="text" name="apellido" id="apellido" class="form-control"
                                placeholder="Ingresa tu apellido" >
                            <br>

                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Ingresa tu correo electronico" >
                            <br>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Contraseña" >
                            <br>
                            <input type="password" id="repassword" name="repassword" class="form-control"
                                placeholder="Contraseña" >
                            <br>
                            <input type="file" id="avatar" name="avatar" accept="image/x-png,image/gif,image/jpeg" />
                            <br />
                        </div>
                        <br>

                        <section class="validacionLogin">
                            <% if (typeof errors != 'undefined') { %>
                            <p>ERROR</p>
                            <ul>
                                <% for( let i = 0; i < errors.length; i++ ) { %>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <% } %>

                            </ul>
                            <% } %>
                        </section>

                        <div style="text-align: center; padding: 3%;">
                            <button class="btn btn-info mt-2 text-center " type="submit">
                                Crear Mi Cuenta
                            </button>
                        </div>

                        

                    </form>

                </div>

            </div>

        </div>
    </form>


    <!--footer-->

    <%- include('./partials/footer.ejs')%>


    </div>
    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>
    <script src="../js/validacionRegistro.js"></script>
</body>

</html>