<html lang="en">

<%- include('./partials/head.ejs')%>
<title>USUARIOS</title>
<body class="fondo">
    <!--PRINCIPAL-->

    <div class="container">
        <main class="main">
            <!--Titulo y servicios-->
            <div class="container mt-4 text-center">
                <h1> Nuestros Usuarios</h1>
                <p style="text-align:initial;">Todos Los usuarios</p>
                <div class="row">
                    <div class="container col-12">
                        <h2>Usuarios</h2>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ver</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Tipo De Usuario</th>
                                    <th>Email</th>
                                    <th>Dirección</th>
                                    
                                </tr>
                            </thead>
                            <% usuarios.forEach(usuario => { %>
                            <tbody>
                                <tr>
                                    <td><a href="/user/edit/<%= usuario.id%>"><button type="button" class="btn btn-info btn-sm">Modificar</button></a></td>
                                    <td><%=usuario.nombre  %> </td>
                                    <td><%=usuario.apellido  %></td>
                                    <th><%=usuario.tipoUsuario.nombre  %></th>
                                    <td><%=usuario.email  %></td>
                                    <td><%=usuario.direccion  %></td>
                                    
                                </tr>
                            </tbody>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!--footer-->
    <%- include('./partials/footer.ejs')%>

    <%- include('./partials/scripts.ejs')%>
</body>

</html>